<form [formGroup]="blockFlightForm">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="row" style="background-color:white;padding:10px; margin-top: 10px;">
                <h1 style="text-align: center;">Block Airline</h1>
            </div><div><br></div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-3"><b>Airline ID</b></div>
                <div class="col-sm-6">
                    <input type="text" formControlName="AirlineId" class="form-control" placeholder="Airline ID" />
                </div>
                <div class="col-sm-1"></div>
            </div>
                            
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-1"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4">
                        <input type="button" (click)="blockFlight(blockFlightForm.value)" value="Block Airline" class="btn btn-primary mt-3" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1"></div>
                </div>
        </div>
    </div>
        
    </form> 
