<div class="row">
    <div class="col-sm-12">
        <div class="row" style="background-color: rgb(238, 170, 223);" >
            <div class="col-sm-2" >
                <a routerLink="/Home" >
             <img src="assets/Images/R.png" alt="FlightLogo"  style="width: 140px; padding: 10px;"/>
            </a>
               
          </div>
          <div class="col-sm-4" >
              <h1>Flight Management</h1>
          </div>
          <div class="col-sm-12">
            
             <div class="row" style="margin-top: 30px;">
                
                <div class="col-sm-2"><button (click)="onloginclick()" class="btn btn-success">Login</button></div>
                <div class="col-sm-2"><button  (click)="onAddAirline()" class="btn btn-primary">AddAirline</button></div>
                <div class="col-sm-2"><button  (click)="onSchedhuleAirline()"class="btn btn-primary">SchedhuleAirline</button></div>
                <div class="col-sm-2"><button (click)="onclickBlockFlight()" class="btn btn-primary">Block Flight</button></div>
                <div class="col-sm-2"><button (click)="onclickLogout()" class="btn btn-danger">Logout</button></div>
             </div>
          </div>
          <div class="col-sm-12">
            
            <div class="row" style="margin-top: 30px;">
               
                 <div class="col-sm-2"><button  (click)="onRegistration()"class="btn btn-primary">Registration</button></div>
               <div class="col-sm-2"><button (click)="onclickBookingFlight()" class="btn btn-primary">Booking Flight</button></div>
               <div class="col-sm-2"><button (click)="onclickTicketHistory()" class="btn btn-primary">Ticket History</button></div>
                <div class="col-sm-2"><button (click)="onclickSearchFlight()" class="btn btn-primary">Search Flight</button></div>
                <div class="col-sm-2"><button (click)="onclickCancelTicket()" class="btn btn-primary">Cancel Ticket</button></div>
            
            </div>
         </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <router-outlet></router-outlet>
            </div>
            
        </div>
         
        <div class="row">
            <div class="col-sm-12" style="background-color: lightskyblue;">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <!-- <div class="col-sm-2"><a href="@copyright.Flight">@copyrigh.Flight</a></div>
                    <div class="col-sm-2" ><img src="assets/Images/fb icon.png" style="width: 24px;"/></div>
                    <div class="col-sm-2"><img src="assets/Images/g.png" style="width: 24px;"/></div> -->
                    <div class="col-sm-2"></div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>