<form>
    <div class="form-group">
        <div class="row" style="margin-top: 40px;">
          <div class="col-sm-4">
           <b> <a routerlink="/login" (click)="sourcedest()" class="LinkStyle">Search source destination</a> </b>
       
        </div> 
  
     
        <div class="col-sm-4"> 
           <b> <a routerlink="/login" (click)="roundtrip()" class="LinkStyle">Search one/ round trip</a> </b>
        </div> 
   
    
        <div class="col-sm-4">
           <b> <a routerlink="/login" (click)="searchbydate()" class="LinkStyle">Search by date</a>  </b>
        </div> 
    </div>
  </div>    
 </form>
